# Resources only - ignore everything
# *
# 
# !/Resources/*
# !/[Rr]esources/typeselector.png
# !/[Rr]esources/keycodeselector.png
# !/[Rr]esources/vsnormal.gif
# !/[Rr]esources/vsadvanced.gif
# ---
# Does not work, just don't put file outside of resource ¯\_(ツ)_/¯
